/* Виконуйте завдання після відповідного коментаря. Стилі можете копіювати */
/* 1. Зверніться до всіх елементів на сторінці та задайте їм стилі {margin:0} */

/* 2. Зверніться до всіх елементів span на сторінці та задайте їм стилі {color:red} */

/* 3. Зверніться до всіх елементів класом 'item' на сторінці та задайте їм стилі 
{ 
  display: inline-block;
  height: 100px;
  width: 200px;
  background-color: coral;
  border-radius: 20px;
  margin: 10px;
} */

/* 4. Зверніться до елементу з id "header_title" на сторінці та задайте йому стилі 
{
    font-size: 20px;
    color: blueviolet;
} */

/* 5. Зверніться до всіх елементів h1, h2 та h3 на сторінці в одному селекторі та задайте їм стилі {font-size: 22px} */

/* 6. Зверніться до всіх елементів p, що знаходяться в header та задайте їм стилі {text-decoration: underline} */

/* 7. Задайте стилі {text-decoration: line-through;} тільки для елементів p, що є прямими нащадками тегу main */
